<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @league.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @league.url %>
</p>

<p>
  <strong>Founded:</strong>
  <%= @league.founded %>
</p>

<%= link_to 'Edit', edit_league_path(@league) %> |
<%= link_to 'Back', leagues_path %>
