<%= form_with(model: lineup, local: true) do |form| %>
  <% if lineup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lineup.errors.count, "error") %> prohibited this lineup from being saved:</h2>

      <ul>
      <% lineup.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :score %>
    <%= form.text_field :score, id: :lineup_score %>
  </div>

  <div class="field">
    <%= form.label :result %>
    <%= form.number_field :result, id: :lineup_result %>
  </div>

  <div class="field">
    <%= form.label :team_name %>
    <%= form.text_field :team_name, id: :lineup_team_name %>
  </div>

  <div class="field">
    <%= form.label :team_id %>
    <%= form.text_field :team_id, id: :lineup_team_id %>
  </div>

  <div class="field">
    <%= form.label :owner_id %>
    <%= form.text_field :owner_id, id: :lineup_owner_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
