<p id="notice"><%= notice %></p>

<p>
  <strong>Score:</strong>
  <%= @lineup.score %>
</p>

<p>
  <strong>Result:</strong>
  <%= @lineup.result %>
</p>

<p>
  <strong>Team name:</strong>
  <%= @lineup.team_name %>
</p>

<p>
  <strong>Team:</strong>
  <%= @lineup.team %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @lineup.owner %>
</p>

<%= link_to 'Edit', edit_lineup_path(@lineup) %> |
<%= link_to 'Back', lineups_path %>
