<%= form_with(model: game, local: true) do |form| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :season %>
    <%= form.number_field :season, id: :game_season %>
  </div>

  <div class="field">
    <%= form.label :week %>
    <%= form.number_field :week, id: :game_week %>
  </div>

  <div class="field">
    <%= form.label :type %>
    <%= form.number_field :type, id: :game_type %>
  </div>

  <div class="field">
    <%= form.label :away %>
    <%= form.text_field :away, id: :game_away %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
